body {
    margin: 0;   
}
div {
    border: 1px solid #333;
    box-sizing: border-box;
    float: left;
    height: 25vw;
}
.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background: red;
}
.l_box, .r_box {
    margin-top: 50px;
    width: 50%;
    height: 50vw;
}
[class^=s_box], b_box3 {
    width: 50%;

}
.r_box {
    background: blue;
}
.b_box1 {
    width: 75%;
}
.b_box2, .b_box4, .b_box5 {
    width: 25%; 
}
.footer {
    width: 100%;
    height: 30px;
}








