@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Noto+Sans);
body {
  font-family: 'Noto Sans', 'Nanum Gothic', sans-serif;
  word-break: break-all; }

.border {
  border: 1px solid #333;
  box-sizing: border-box; }

ul, li {
  margin: 0;
  padding: 0; }

a {
  color: inherit; }
  a:hover {
    color: inherit;
    font-weight: bold; }

/* ---- 기본 항목 ----------------------------- */
.user-panel {
  height: 70px;
  color: #fff; }

/* sass */
