
#main	{margin:0 auto;
		 width:640px;}
#mainline {width: 640px;
		  margin:0 auto;}
#form	{width: 640px;
		 margin:0 auto;
		 text-align:center;
        -webkit-text-size-adjust: 100%;}
		 
	#form1	{width:640px; height:91px; }
	#form1 li {float:left; list-style:none; line-height:0;}
	.form1	{width:430px; height:66px; 
             font-family: sans-serif; font-size:1.25em; }
	
	#form2	{width:640px; height:91px; } 
	#form2 li {float:left; list-style:none; line-height:0; }
	.form2	{width:380px; height:66px;
             font-family: sans-serif; font-size:1.25em; }
	
	#form3	{width:640px; height:90px; } 
	#form3 li {float:left; list-style:none; line-height:0; }
	.form3	{width:380px; height:66px;
             font-family: sans-serif; font-size:1.2em; }
	
	#form4	{width:640px; height:90px; } 
	#form4 li {float:left; list-style:none; line-height:0; }
	.form4	{width:115px; height:66px;
             font-family: sans-serif; font-size:1.25em; }
	
	#form5	{width:640px; height:90px; } 
	#form5 li {float:left; list-style:none; line-height:0; }
	.form5	{width:380px; height:66px;
             font-family: sans-serif; font-size:1.25em; }
	
	#form6	{width:640px; height:90px; } 
	#form6 li {float:left; list-style:none; line-height:0; }
	.form6	{width:250px; height:66px;
             font-family: sans-serif; font-size:1.25em; }
	
	#form7	{width:640px; height:90px; } 
	#form7 li {float:left; list-style:none; line-height:0; }
	.form7	{width:50px; height:50px; }
	
	#form8	{width:640px; height:80px; } 
	#form8 li {float:left; list-style:none; line-height:0; }
	.form8	{width:40px; height:40px; margin-left:30px; }
	.form88 {width:40px; height:40px; }
	
	#white {width:640px; height:70px;}
	
	#form81	{width:640px; height:70px; } 
	#form81 li {float:left; list-style:none; line-height:0; }
	.form81	{width:40px; height:40px; margin-left:30px; }
	.form89 {width:40px; height:40px; }

	#form82	{width:640px; } 
	#form82 li {float:left; list-style:none; line-height:0; }
	.form82	{width:40px; height:40px; margin-left:30px; }

	#form9	{width:640px; height:90px; } 
	#form9 li {float:left; list-style:none; line-height:0; }
	.form9	{ margin-left:30px; width: 580px; height: 100px;
              font-family: sans-serif; font-size:1.25em; }

	#form10	{width:640px; height:90px; } 
	#form10 li {float:left; list-style:none; line-height:0; }
	.form10	{ margin-left:30px; width: 580px; height: 140px;
              font-family: sans-serif; font-size: 0.938em;}
    .form101 {width: 40px; height: 40px; margin-left: 220px; margin-top: 20px;}

#underbar {margin:0 auto; width:640px;}
	.submit {width:432px; height:72px; background-image:url(images/request_bt.png);
			 background-position:center; border: none;}
/*top버튼*/
.C_totop{width:80px; height:80px;background-color: #000; color:#fff;border-radius:50px; text-align:center; line-height:85px;
 position:fixed; z-index:999999;  top: 99%;   opacity: .8;cursor: pointer; font-size:22px;right:1.0%;  margin-left: -160px; margin-top: -90px;}


