@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Noto+Sans);
/* 리셋 기본 css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: middle;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 리셋 기본 css */
body {
    font-family: 'Noto Sans', 'Nanum Gothic', sans-serif;
    font-size: 100%;
    word-break: break-all;
		height: 100%;
}
.box {border: 1px solid #333;box-sizing: border-box}
/*리누 기본 CSS*/
/* 가로 사이즈 766이하일때 0.5배 미디어 쿼리*/
@media all and (max-width:640px) {
#wrap{margin:0 auto; text-align:center; zoom: 0.5; -moz-transform: scale(0.5);}
}
/* 가로 사이즈 768이상일때 1배 미디어 쿼리*/
@media all and (min-width: 640px) {
#wrap{margin:0 auto; text-align:center; zoom: 1; -moz-transform: scale(1);}
}



// header
a {
  color: inherit;
  text-decoration: none;
}
a:active {
  color: blue;
}

.top_menu {
  width: 640px;
	height: 88px;
  margin: 0 auto;
  text-align: center;
  .header_logo {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .header_menu {
    float: right;
    cursor: pointer;
  }
}
.view_menu {
  position: absolute;
  width: 640px;
  top: 88px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  display: none;
  color: #fff;
  font-weight: 700;
  font-size: 2.3em;
  line-height: 2.3em;
  background: rgba(0, 0, 0, 0.7);
	z-index: 1;
  ul {
    padding: 10px;
  }
}
// header

//푸터
footer {
	margin: 0 auto;
	.copyright {
		margin: 0 auto;
		width: 570px;
		text-align: left;
		color: #EAEAEA;
		padding: 20px 0 20px 10px;
		// border: 1px solid #fff;
		font-size: 18px;
		line-height: 24px;
		z-index: 2;
	}
	div {
		position: relative;
		.footer_pc {
			position: absolute;
			right: 0;
		}
	}
}

.subpage footer {
	background: url(../images/main_bg.gif);
}
//푸터



// 메인 페이지
.slide {
  margin: 0 auto;
  width: 640px;
}

.main_box {
  background: #4E4E4E;
  overflow: hidden;
  width: 640px;
  margin: 0 auto;
}

[class^="main_menu"] {
	text-indent: -99999px;
	position: relative;
  background: #efefef;
  float: left;
}
[class^="main_box1_"] {
  float: left;
}

[class^="main_menu"]::before {
	content: '';
	display: block;
	position: absolute;
	right: 10px;
	bottom: 10px;
	width: 0;
	height: 0;
	border-bottom: 20px solid #fff;
	border-left: 20px solid transparent;
}

[class^="main_menu"]::after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	background: url(../images/main_sprites.png) no-repeat;
}



.main_box1_1 {
  width: 442px;
}
.main_box1_2 {
  width: 198px;
}
.main_menu1 {
  margin: 8px 4px 4px 8px;
  width: 430px;
  height: 211px;
  background: #008AB4;
	background: -moz-linear-gradient(-45deg,  #0080a5 0%, #0080a5 33%, #008ab4 33%, #008ab4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#0080a5), color-stop(33%,#0080a5), color-stop(33%,#008ab4), color-stop(100%,#008ab4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #0080a5 0%,#0080a5 33%,#008ab4 33%,#008ab4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #0080a5 0%,#0080a5 33%,#008ab4 33%,#008ab4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #0080a5 0%,#0080a5 33%,#008ab4 33%,#008ab4 100%); /* IE10+ */
	background: linear-gradient(135deg,  #0080a5 0%,#0080a5 33%,#008ab4 33%,#008ab4 100%); /* W3C */
	&::after {
		width: 250px;
    height: 182px;
    background-position: -5px -5px;
	}
}
.main_menu2 {
  margin: 4px 4px 4px 8px;
  width: 211px;
  height: 211px;
  background: #FEBB5B;
	&::after {
		width: 188px;
    height: 61px;
    background-position: -5px -197px;
	}
}
.main_menu3 {
  margin: 4px;
  width: 211px;
  height: 211px;
  background: #F7F3EE;
	&::before {
		border-bottom: 20px solid #969696;
		}
	&::after {
		width: 188px;
    height: 59px;
    background-position: -199px -197px;

	}
}

.main_menu4 {
  margin: 4px 4px 8px 8px;
  width: 430px;
  height: 160px;
  background: #7FC2C2;
	background: -moz-linear-gradient(-45deg,  #7ababa 0%, #7ababa 35%, #7fc2c2 35%, #7fc2c2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#7ababa), color-stop(30%,#7ababa), color-stop(31%,#7fc2c2), color-stop(100%,#7fc2c2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #7ababa 0%,#7ababa 35%,#7fc2c2 35%,#7fc2c2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #7ababa 0%,#7ababa 35%,#7fc2c2 35%,#7fc2c2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #7ababa 0%,#7ababa 35%,#7fc2c2 35%,#7fc2c2 100%); /* IE10+ */
	background: linear-gradient(135deg,  #7ababa 0%,#7ababa 35%,#7fc2c2 35%,#7fc2c2 100%); /* W3C */
	&::after {
		width: 397px;
    height: 114px;
    background-position: -5px -268px;
	}

}
.main_menu5 {
  margin: 8px 8px 4px 4px;
  width: 186px;
  height: 430px;
  background: #CCE5E3;
	background: -moz-linear-gradient(-45deg,  #c3dbd9 0%, #c3dbd9 52%, #cce5e3 55%, #cce5e3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#c3dbd9), color-stop(52%,#c3dbd9), color-stop(55%,#cce5e3), color-stop(100%,#cce5e3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #c3dbd9 0%,#c3dbd9 52%,#cce5e3 55%,#cce5e3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #c3dbd9 0%,#c3dbd9 52%,#cce5e3 55%,#cce5e3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #c3dbd9 0%,#c3dbd9 52%,#cce5e3 55%,#cce5e3 100%); /* IE10+ */
	background: linear-gradient(135deg,  #c3dbd9 0%,#c3dbd9 22%,#cce5e3 22%,#cce5e3 100%); /* W3C */
	&::after {
		width: 143px;
    height: 105px;
    background-position: -265px -5px;
	}

}
.main_menu6 {
  margin: 4px 8px 8px 4px;
  width: 186px;
  height: 160px;
  background: #FF8E54;
	&::after {
		width: 81px;
    height: 59px;
    background-position: -418px -5px;
	}

}



.index {
  background-image: url(../images/main_bg.gif);
  background-position: center  88px;
  background-repeat: repeat-x;
}

// 메인 페이지

// 서브 페이지
.sub_section {
	width: 640px;
	margin: 0 auto;
	.sub_title {
		margin-bottom: 25px;
	}
	figure {
		// padding-top: 50px;
		margin: 0 auto;
		width: 640px;
		img {
			margin-top: 40px;
		}
		figcaption {
			width: 560px;
			float: right;
			margin-right: 10px;
			text-align: left;
			color: #6D6D6D;
			font-size: 20px;
			line-height: 30px;
			font-weight: 600;
		}
	}
	iframe { // 지도 부분
		margin-bottom: 30px;
	}
	.direction {
		width: 620px;
		margin: 0 auto;
		padding-top: 20px;
		text-align: left;
		color: #6D6D6D;
		font-size: 18px;
		line-height: 30px;
		font-weight: 600;
		strong {
			color: #785f9e;
			font-weight: bolder;
		}
	}
	.list { // 게시판 리스트
		width: 640px;
		font-size: 28px;
		line-height: 30px;
		thead {
			tr {
				border-top: 1px solid #888;
				border-bottom: 1px solid #888;
				th {
					height: 60px;
				}
			}
		}
		tbody {
			tr {
				border-bottom: 1px solid #ddd;
				margin: 10px 0;
				height: 60px;
				&:nth-child(even) {
					background: #f8f8f8;
				}

				td {
					&:first-child {
						width: 80px;
						// background: #efefef;
					}
					&:nth-child(2) {
						line-height: 60px;
						width: 400px;
						text-align: left;
						display: block;
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
					}
				}
			}
		}
	} // table
	//페이지 네비게이션
	.pagination {
		width: 640px;
		margin-top: 60px;
		thead {
			tr {
				border: none;
				th {
					a {
						padding: 10px 20px;
						border: 1px solid #ddd;
						border-radius: 5px;
					}
				}
				.pagination_number {
					a {
						border: none;
					}
				}
			}
		}
	} // 페이지 네비게이션
	.search { // 검색페이지
		margin-top: 40px;
		input {
			width: 500px;
			height: 46px;
			border: 1px solid #ddd;
			border-radius: 5px;
			background: #fff;
			box-shadow: 1px 1px 0 #ddd;
			text-align: center;
			font-size: 30px;
		}
		img {
			padding-bottom: 8px;
		}
	}
	.view { // 보기페이지
		margin-top: -25px;
		width: 640px;
		font-size: 28px;
		line-height: 30px;
		tr {
			border-bottom: 1px solid #ccc;
			td {
				height: 60px;
				&:first-child {
					width: 150px;
					color: #333;
					background: #eee;
				}
				&:nth-child(2) {
					text-align: left;
					padding: 4px 4px 4px 20px;
					font-size: 20px;
				}
			}
		}
	} //.view
	.board_view {
		padding: 20px;
		text-align: left;
		min-height: 400px;
		line-height: 22px;
		img {
			max-width: 95%;
		}
	}
	.list_btn {
		width: 150px;
		height: 60px;
		background: #ddd;
		border-radius: 5px;
		color: #666;
		font-size: 32px;
		line-height: 60px;
		margin: 40px 0 30px 20px;
	}
	.request_box {
		text-align: left;
		margin: 30px 10px;
		padding: 10px;
		border-top: 2px solid #9FC5F1;
		border-bottom: 2px solid #9FC5F1;
		font-size: 28px;
		line-height: 34px;
		li {
			margin: 20px 0;
			p {
				float: left;
				width: 175px;
				position: relative;
				padding-left: 20px;
				// border: 1px solid #333;
				line-height: 60px;
				&::before {
					content: '';
					position: absolute;
					display: block;
					width: 12px;
					height: 12px;
					left: 0;
					top: 0;
					bottom: 0;
					margin: auto;
					background: #DF0605;
				}
			}
			input {
				width: 380px;
				height: 60px;
				font-size: 30px;
				padding: 0 10px;
				border: 1px solid #ccc;
			}
			.form_center,
			.form_tel {
				padding: 0 10px;
				text-align: center;
			}
			.form_tel {
				width: 102px;
				margin-right: 5px;
				&:last-child {
					margin-right: 0;
				}
			}
			input[type=checkbox] + label {
				line-height: 60px;
				margin-left: 10px;
			}
		} //.li
		.lwidth {
			overflow: hidden;
			p {
				width: 100%;
			}
			input[type=checkbox] + label {
				margin-left: 10px;
				line-height: 60px;
				font-size: 24px;
			}
			textarea {
				width: 566px;
				height: 150px;
				margin-left: 10px;
				border: 1px solid #ccc;
				font-size: 26px;
				line-height: 28px;
				padding: 10px;
			}
			.terms {
				// margin-left: 100px;
				float: right;
				// overflow: hidden;
			}
		} // .lwidth
	} // .request_box
	div { // 웹서비스 용
		article {
			display: none;
			.promotion1,
			.promotion2 {
				overflow: hidden;
				img {
					float: left;
					cursor: pointer;
				}
			}
		}
		p.accordion {
			padding: 40px 20px;
			position: relative;
			height: 30px;
			cursor: pointer;
			color: #777;
			line-height: 33px;
			font-size: 2.3em;
			border-bottom: 1px solid #ddd;
			&::before {
				content: '';
				position: absolute;
				width: 40px;
				height: 40px;
				right: 13px;
				top: 32px;
				background: transparent url(../images/arrow_down.png) no-repeat center center;
			}
		}
		.accordion.on {
		 &::before {
			content: '';
			position: absolute;
			width: 40px;
			height: 40px;
			right: 13px;
			top: 32px;
			background: transparent url(../images/arrow_up.png) no-repeat center center;
			z-index: 3;
			}
			+ article {
				display: block;
			}
		}
	} // div
} // .sub_section
section.off {
	display: none;
}

div.promotion_slide,
div.snspromotion_slide {
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	z-index: 10;
	background: #333;
	ul {
		overflow-x: hidden;

	}
	li {

		display: block;
		float: left;
		margin: 0;
		cursor: pointer;
		p {
			width: 640px;
			margin: 0 auto;
			color: #777;
			line-height: 33px;
			font-size: 30px;
			padding: 20px 0;
			background: #fff;
		}
	}
}
div.snspromotion_slide {
 // visibility: visible;
}
// 서브 페이지


// 커스텀 체크박스
/* 커스텀 체크박스 */
input[type=checkbox] {
	visibility: hidden;
	display: none;
}
input[type=checkbox] + label {
	// border: 1px solid #333;

}
input[type=checkbox] + label:before {
    content:'';
		display: inline-block;
		width: 30px;
		height: 30px;
		vertical-align: middle;
		margin-top: -6px;
		background: #fff;
		border: 1px solid #aaa;
		border-radius: 5px;
}
input[type=checkbox]:checked + label:before {
    content:"\2714";
    color:white;
    background-color: #0af;
    text-align:center;
    line-height:30px;
}
/* 커스텀 체크박스 */

// 커스텀 체크박스

// 탑 버튼
.C_totop {
	position: fixed;
	right: 20px;
	bottom: 80px;
	width: 80px;
	height: 80px;
	opacity: 0;
	background: rgba(0, 0, 0, 0.8);
	border-radius: 50%;
	font-size: 24px;
	color: #fff;
	line-height: 75px;
	z-index: 9;
	cursor: pointer;
	-webkit-transition: 0.5s all ease ;
	-o-transition: 0.5s all ease ;
	transition: 0.5s all ease ;
}
// 탑 버튼
// 닫기 버튼
.C_close {
	position: fixed;
	top: 10px;
	left: 20px;
	width: 80px;
	height: 80px;
	opacity: 1;
	background: rgba(0, 0, 0, 0.8);
	border-radius: 50%;
	font-size: 24px;
	color: #fff;
	line-height: 70px;
	font-weight: 100;
	z-index: 11;
	cursor: pointer;
	-webkit-transition: 0.5s all ease ;
	-o-transition: 0.5s all ease ;
	transition: 0.5s all ease ;
}













/* */
