@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Noto+Sans);
/* 리셋 기본 css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: middle; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* 리셋 기본 css */
body {
  font-family: 'Noto Sans', 'Nanum Gothic', sans-serif;
  font-size: 100%;
  word-break: break-all; }

.box {
  border: 1px solid #333;
  box-sizing: border-box; }

/*리누 기본 CSS*/
/* 가로 사이즈 766이하일때 0.5배 미디어 쿼리*/
@media all and (max-width: 640px) {
  #wrap {
    margin: 0 auto;
    text-align: center;
    zoom: 0.5;
    -moz-transform: scale(0.5); } }
/* 가로 사이즈 768이상일때 1배 미디어 쿼리*/
@media all and (min-width: 640px) {
  #wrap {
    margin: 0 auto;
    text-align: center;
    zoom: 1;
    -moz-transform: scale(1); } }
a {
  color: inherit;
  text-decoration: none; }

a:active {
  color: blue; }

.top_menu {
  width: 640px;
  height: 88px;
  margin: 0 auto;
  text-align: center; }
  .top_menu .header_logo {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto; }
  .top_menu .header_menu {
    float: right;
    cursor: pointer; }

.view_menu {
  position: absolute;
  width: 640px;
  top: 88px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  display: none;
  color: #fff;
  font-weight: 700;
  font-size: 2.3em;
  line-height: 2.3em;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1; }
  .view_menu ul {
    padding: 10px; }

footer {
  margin: 0 auto; }
  footer .copyright {
    margin: 0 auto;
    width: 570px;
    text-align: left;
    color: #EAEAEA;
    padding: 20px 0 20px 10px;
    font-size: 18px;
    line-height: 24px;
    z-index: 2; }
  footer div {
    position: relative; }
    footer div .footer_pc {
      position: absolute;
      right: 0; }

.subpage footer {
  background: url(../images/main_bg.gif); }

.slide {
  margin: 0 auto;
  width: 640px; }

.main_box {
  background: #4E4E4E;
  overflow: hidden;
  width: 640px;
  margin: 0 auto; }

[class^="main_menu"] {
  text-indent: -99999px;
  position: relative;
  background: #efefef;
  float: left; }

[class^="main_box1_"] {
  float: left; }

[class^="main_menu"]::before {
  content: '';
  display: block;
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 0;
  height: 0;
  border-bottom: 20px solid #fff;
  border-left: 20px solid transparent; }

[class^="main_menu"]::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  background: url(../images/main_sprites.png) no-repeat; }

.main_box1_1 {
  width: 442px; }

.main_box1_2 {
  width: 198px; }

.main_menu1 {
  margin: 8px 4px 4px 8px;
  width: 430px;
  height: 211px;
  background: #008AB4;
  background: -moz-linear-gradient(-45deg, #0080a5 0%, #0080a5 33%, #008ab4 33%, #008ab4 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #0080a5), color-stop(33%, #0080a5), color-stop(33%, #008ab4), color-stop(100%, #008ab4));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #0080a5 0%, #0080a5 33%, #008ab4 33%, #008ab4 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #0080a5 0%, #0080a5 33%, #008ab4 33%, #008ab4 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #0080a5 0%, #0080a5 33%, #008ab4 33%, #008ab4 100%);
  /* IE10+ */
  background: linear-gradient(135deg, #0080a5 0%, #0080a5 33%, #008ab4 33%, #008ab4 100%);
  /* W3C */ }
  .main_menu1::after {
    width: 250px;
    height: 182px;
    background-position: -5px -5px; }

.main_menu2 {
  margin: 4px 4px 4px 8px;
  width: 211px;
  height: 211px;
  background: #FEBB5B; }
  .main_menu2::after {
    width: 188px;
    height: 61px;
    background-position: -5px -197px; }

.main_menu3 {
  margin: 4px;
  width: 211px;
  height: 211px;
  background: #F7F3EE; }
  .main_menu3::before {
    border-bottom: 20px solid #969696; }
  .main_menu3::after {
    width: 188px;
    height: 59px;
    background-position: -199px -197px; }

.main_menu4 {
  margin: 4px 4px 8px 8px;
  width: 430px;
  height: 160px;
  background: #7FC2C2;
  background: -moz-linear-gradient(-45deg, #7ababa 0%, #7ababa 35%, #7fc2c2 35%, #7fc2c2 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #7ababa), color-stop(30%, #7ababa), color-stop(31%, #7fc2c2), color-stop(100%, #7fc2c2));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #7ababa 0%, #7ababa 35%, #7fc2c2 35%, #7fc2c2 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #7ababa 0%, #7ababa 35%, #7fc2c2 35%, #7fc2c2 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #7ababa 0%, #7ababa 35%, #7fc2c2 35%, #7fc2c2 100%);
  /* IE10+ */
  background: linear-gradient(135deg, #7ababa 0%, #7ababa 35%, #7fc2c2 35%, #7fc2c2 100%);
  /* W3C */ }
  .main_menu4::after {
    width: 397px;
    height: 114px;
    background-position: -5px -268px; }

.main_menu5 {
  margin: 8px 8px 4px 4px;
  width: 186px;
  height: 430px;
  background: #CCE5E3;
  background: -moz-linear-gradient(-45deg, #c3dbd9 0%, #c3dbd9 52%, #cce5e3 55%, #cce5e3 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #c3dbd9), color-stop(52%, #c3dbd9), color-stop(55%, #cce5e3), color-stop(100%, #cce5e3));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #c3dbd9 0%, #c3dbd9 52%, #cce5e3 55%, #cce5e3 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #c3dbd9 0%, #c3dbd9 52%, #cce5e3 55%, #cce5e3 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #c3dbd9 0%, #c3dbd9 52%, #cce5e3 55%, #cce5e3 100%);
  /* IE10+ */
  background: linear-gradient(135deg, #c3dbd9 0%, #c3dbd9 22%, #cce5e3 22%, #cce5e3 100%);
  /* W3C */ }
  .main_menu5::after {
    width: 143px;
    height: 105px;
    background-position: -265px -5px; }

.main_menu6 {
  margin: 4px 8px 8px 4px;
  width: 186px;
  height: 160px;
  background: #FF8E54; }
  .main_menu6::after {
    width: 81px;
    height: 59px;
    background-position: -418px -5px; }

.index {
  background-image: url(../images/main_bg.gif);
  background-position: center  88px;
  background-repeat: repeat-x; }

.sub_section {
  width: 640px;
  margin: 0 auto; }
  .sub_section .sub_title {
    margin-bottom: 25px; }
  .sub_section figure {
    margin: 0 auto;
    width: 640px; }
    .sub_section figure img {
      margin-top: 40px; }
    .sub_section figure figcaption {
      width: 560px;
      float: right;
      margin-right: 10px;
      text-align: left;
      color: #6D6D6D;
      font-size: 20px;
      line-height: 30px;
      font-weight: 600; }
  .sub_section iframe {
    margin-bottom: 30px; }
  .sub_section .direction {
    width: 620px;
    margin: 0 auto;
    padding-top: 20px;
    text-align: left;
    color: #6D6D6D;
    font-size: 18px;
    line-height: 30px;
    font-weight: 600; }
    .sub_section .direction strong {
      color: #785f9e;
      font-weight: bolder; }
  .sub_section .list {
    width: 640px;
    font-size: 28px;
    line-height: 30px; }
    .sub_section .list thead tr {
      border-top: 1px solid #888;
      border-bottom: 1px solid #888; }
      .sub_section .list thead tr th {
        height: 60px; }
    .sub_section .list tbody tr {
      border-bottom: 1px solid #ddd;
      margin: 10px 0;
      height: 60px; }
      .sub_section .list tbody tr:nth-child(even) {
        background: #f8f8f8; }
      .sub_section .list tbody tr td:first-child {
        width: 80px; }
      .sub_section .list tbody tr td:nth-child(2) {
        line-height: 60px;
        width: 400px;
        text-align: left;
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
  .sub_section .pagination {
    width: 640px;
    margin-top: 60px; }
    .sub_section .pagination thead tr {
      border: none; }
      .sub_section .pagination thead tr th a {
        padding: 10px 20px;
        border: 1px solid #ddd;
        border-radius: 5px; }
      .sub_section .pagination thead tr .pagination_number a {
        border: none; }
  .sub_section .search {
    margin-top: 40px; }
    .sub_section .search input {
      width: 500px;
      height: 46px;
      border: 1px solid #ddd;
      border-radius: 5px;
      background: #fff;
      box-shadow: 1px 1px 0 #ddd;
      text-align: center;
      font-size: 30px; }
    .sub_section .search img {
      padding-bottom: 8px; }
  .sub_section .view {
    margin-top: -25px;
    width: 640px;
    font-size: 28px;
    line-height: 30px; }
    .sub_section .view tr {
      border-bottom: 1px solid #ccc; }
      .sub_section .view tr td {
        height: 60px; }
        .sub_section .view tr td:first-child {
          width: 150px;
          color: #333;
          background: #eee; }
        .sub_section .view tr td:nth-child(2) {
          text-align: left;
          padding: 4px 4px 4px 20px;
          font-size: 20px; }
  .sub_section .board_view {
    padding: 20px;
    text-align: left;
    min-height: 400px;
    line-height: 22px; }
    .sub_section .board_view img {
      max-width: 95%; }
  .sub_section .list_btn {
    width: 150px;
    height: 60px;
    background: #ddd;
    border-radius: 5px;
    color: #666;
    font-size: 32px;
    line-height: 60px;
    margin: 40px 0 30px 20px; }

.C_totop {
  position: fixed;
  right: 20px;
  bottom: 80px;
  width: 80px;
  height: 80px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  line-height: 75px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease; }

/* */
