 /* 본문내용 */

#form	{width: 640px;
		 margin:0 auto;
		 text-align:center;
        -webkit-text-size-adjust: 100%;}
		 
	#form1	{width:640px; height: 106px;}
	#form1 li {float:left; list-style:none; line-height:0;}
	.form1	{width:464px; height:66px; margin-top: 20px;
             font-family: sans-serif; font-size:1.5em; color:2c2c2c; }
	
	#form2	{width:640px; height:106px; } 
	#form2 li {float:left; list-style:none; line-height:0; }
	.form2	{width:464px; height:66px; margin-top: 20px;
             font-family: sans-serif; font-size:1.5em; color:2c2c2c; }
	
	#form3	{width:640px; height:106px; } 
	#form3 li {float:left; list-style:none; line-height:0; }
	.form3	{width:464px; height:66px; margin-top: 20px;
             font-family: sans-serif; font-size:1.5em; color:2c2c2c;}
	
    #form81 {width: 640px; }
	#form81 li {float:left; list-style:none; line-height:0;}
	.form81	{margin-top: 20px; width:40px; height:40px;}

	#form82	{width:640px; } 
	#form82 li {float:left; list-style:none; line-height:0; }
	.form82	{margin-top: 20px; width:40px; height:40px;  }

	#form83	{width:640px; margin-left: 155px} 
	#form83 li {float:left; list-style:none; line-height:0; }
	.form83	{margin-top: 20px; width:40px; height:40px; }

	#form4	{width:640px; height:90px; margin-top: 20px; } 
	#form4 li {float:left; list-style:none; line-height:0; }
	.form4	{ margin-left:20px; width: 600px; height: 160px;
              font-family: sans-serif; font-size: 1em; }
    .form41 {width: 40px; height: 40px; margin-left: 10px; margin-top: 20px; margin-left: 20px;}
    
    .clear {clear: both;}
    
    #sub {margin-top:20px; margin-left: auto; width:640px;}
	.sub {width:535px; height:104px; background-image:url(10.png);
          background-position:center; border: none;}
