@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Noto+Sans);
body {
  font-family: 'Noto Sans', 'Nanum Gothic', sans-serif;
  word-break: break-all; }

.border {
  border: 1px solid #333;
  box-sizing: border-box; }

ul, li {
  margin: 0;
  padding: 0; }

a {
  color: inherit; }
  a:hover {
    color: inherit;
    font-weight: bold; }

/* ---- 기본 항목 ----------------------------- */
/* CSS툴팁  */
[data-tips] {
  position: relative;
  text-decoration: none;
  cursor: pointer; }

[data-tips]:after,
[data-tips]:before {
  position: absolute;
  z-index: 100;
  opacity: 0; }

[data-tips]:after {
  content: attr(data-tips);
  height: 25px;
  line-height: 25px;
  padding: 0 10px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  background: #222;
  border-radius: 5px;
  text-shadow: 0 0 5px #000;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  white-space: nowrap;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

[data-tips]:before {
  content: "";
  width: 0;
  height: 0;
  border-width: 6px;
  border-style: solid; }

[data-tips]:hover:after,
[data-tips]:hover:before {
  opacity: 1; }

/* Top tips */
[data-tips].top-tip:after,
[data-tips].top-tip:before {
  -webkit-transition: bottom 0.25s ease-in-out, opacity 0.25s ease-in-out;
  -moz-transition: bottom 0.25s ease-in-out, opacity 0.25s ease-in-out;
  transition: bottom 0.25s ease-in-out, opacity 0.25s ease-in-out;
  bottom: 90%;
  left: -9999px;
  margin-bottom: 12px; }

[data-tips].top-tip:before {
  border-color: #222 transparent transparent transparent;
  margin-bottom: 0; }

[data-tips].top-tip:hover:after,
[data-tips].top-tip:hover:before {
  bottom: 100%;
  left: 0; }

[data-tips].top-tip:hover:before {
  left: 15px; }

/* Bottom tip */
[data-tips].bottom-tip:after,
[data-tips].bottom-tip:before {
  -webkit-transition: top 0.25s ease-in-out, opacity 0.25s ease-in-out;
  -moz-transition: top 0.25s ease-in-out, opacity 0.25s ease-in-out;
  transition: top 0.25s ease-in-out, opacity 0.25s ease-in-out;
  top: 90%;
  left: -9999px;
  margin-top: 12px; }

[data-tips].bottom-tip:before {
  border-color: transparent transparent #222 transparent;
  margin-top: 0; }

[data-tips].bottom-tip:hover:after,
[data-tips].bottom-tip:hover:before {
  top: 100%;
  left: 0; }

[data-tips].bottom-tip:hover:before {
  left: 15px; }

/* Right tip */
[data-tips].right-tip:after,
[data-tips].right-tip:before {
  -webkit-transition: left 0.25s ease-in-out, opacity 0.25s ease-in-out;
  -moz-transition: left 0.25s ease-in-out, opacity 0.25s ease-in-out;
  transition: left 0.25s ease-in-out, opacity 0.25s ease-in-out;
  top: -9999px;
  left: 96%;
  margin-left: 12px; }

[data-tips].right-tip:before {
  border-color: transparent #222 transparent transparent;
  margin-left: 0; }

[data-tips].right-tip:hover:after,
[data-tips].right-tip:hover:before {
  left: 100%;
  top: 0; }

[data-tips].right-tip:hover:before {
  top: 7px; }

/* Left tip */
[data-tips].left-tip:after,
[data-tips].left-tip:before {
  -webkit-transition: right 0.25s ease-in-out, opacity 0.25s ease-in-out;
  -moz-transition: right 0.25s ease-in-out, opacity 0.25s ease-in-out;
  transition: right 0.25s ease-in-out, opacity 0.25s ease-in-out;
  top: -9999px;
  right: 96%;
  margin-right: 12px; }

[data-tips].left-tip:before {
  border-color: transparent transparent transparent #222;
  margin-right: 0; }

[data-tips].left-tip:hover:after,
[data-tips].left-tip:hover:before {
  right: 100%;
  top: 0; }

[data-tips].left-tip:hover:before {
  top: 7px; }

/* CSS툴팁  */
/* 데이터 테이블 관련 */
.DataTable {
  position: relative; }
  .DataTable .col-xs-12 {
    margin-top: -6px; }
  .DataTable .DataTable_length_box {
    position: absolute;
    bottom: 2px;
    right: 5px;
    z-index: 1; }
    .DataTable .DataTable_length_box .input-sm {
      width: 70px;
      text-align: center; }
  .DataTable .DataTables_filter_box {
    position: absolute;
    bottom: 2px;
    right: 130px;
    z-index: 1; }
  .DataTable .dataTables_paginate {
    text-align: left;
    margin: 5px 0 -2px 5px; }
  .DataTable table th, .DataTable table td {
    text-align: center; }

/* 아이콘 컬러 */
i.red {
  color: #f56954; }

/* 광고주 리스트 커스텀 */
.client_list table tbody tr td:nth-child(3), .client_list table tbody tr td:nth-child(5), .client_list table tbody tr td:nth-child(6) {
  text-align: left; }

/* 공지사항 리스트 커스텀 */
.notice_list table tbody tr td:nth-child(3), .notice_list table tbody tr td:nth-child(4) {
  text-align: left; }

.ofx {
  overflow-x: scroll;
  overflow-y: hidden;
  margin-bottom: 15px;
  width: 100%; }
  .ofx table {
    /* width: 100% !important  */ }
    .ofx table th, .ofx table td {
      white-space: nowrap; }
  .ofx .DataTables_filter_box,
  .ofx .DataTable_length_box {
    bottom: 15px; }

.box {
  position: relative; }
  .box .table_head {
    position: relative;
    left: 0;
    top: 0;
    width: 600px;
    z-index: 1; }
    .box .table_head thead {
      background: #fff; }
      .box .table_head thead tr th {
        text-align: center; }
    .box .table_head tbody {
      background: #fff; }
      .box .table_head tbody tr td {
        text-align: right; }
        .box .table_head tbody tr td:nth-child(1), .box .table_head tbody tr td:nth-child(2), .box .table_head tbody tr td:nth-child(4), .box .table_head tbody tr td:nth-child(7), .box .table_head tbody tr td:nth-child(8) {
          text-align: center;
          white-space: nowrap;
          word-break: keep-all; }
        .box .table_head tbody tr td:nth-child(3) {
          display: block;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          width: 100px; }
  .box .table_body {
    position: absolute;
    top: 0;
    right: 0;
    overflow: auto; }
    .box .table_body table {
      width: 800px; }

/* */
