@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Noto+Sans);
body {
    font-family: 'Noto Sans', 'Nanum Gothic', sans-serif;
    word-break: break-all;
}
.border {
  border: 1px solid #333;
  box-sizing: border-box;
}
/*리누 기본 CSS*/
$c: center;
$r: right;
$l: left;


.mkt2_budget {
  tbody {
    tr {
      td {
        text-align: $r;
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(4),
        &:nth-child(7) {
          text-align: $c;
        }
        &:nth-child(3) {
          display: inline-block;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          width: 100px;

        }

      }
    }
  }
}


.box {
  position: relative;

  .table_head {
    position: relative;
    left: 0;
    top: 0;
    width: 600px;
    z-index: 1;

    thead {
      background: #fff;
      tr {
        th {
          text-align: $c;
        } // th
      } // tr
    } // thead

    tbody {
      background: #fff;
      tr {
        td {
          text-align: $r;
          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(4),
          &:nth-child(7),
          &:nth-child(8) {
            text-align: $c;
            white-space: nowrap;
            word-break: keep-all;
          }
          &:nth-child(3) {
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 100px;
          }
        }// td
      } // tr
    } // tbody

  } // .table_head

  .table_body {
    position: absolute;
    top: 0;
    right: 0;
    overflow: auto;

    table {
      width: 800px;

    }
  } // .table_body

} // .box


.table_fix {
  position: relative;

  .td_fix {
    position: absolute;
  }
}










/* */
